@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?dd0pyd');
	src:url('../fonts/icomoon.eot?#iefixdd0pyd') format('embedded-opentype'),
		url('../fonts/icomoon.woff?dd0pyd') format('woff'),
		url('../fonts/icomoon.ttf?dd0pyd') format('truetype'),
		url('../fonts/icomoon.svg?dd0pyd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wind:before {
	content: "\e608";
}
.icon-snow:before {
	content: "\e609";
}
.icon-rain:before {
	content: "\e60a";
}
.icon-info:before {
	content: "\e60c";
}
.icon-cancel:before {
	content: "\e60d";
}
.icon-edit:before {
	content: "\e60e";
}
.icon-delete:before {
	content: "\e60f";
}
.icon-agenda:before {
	content: "\e610";
}
.icon-public:before {
	content: "\e600";
}
.icon-walking:before {
	content: "\e601";
}
.icon-car:before {
	content: "\e602";
}
.icon-bike:before {
	content: "\e603";
}
.icon-tram:before {
	content: "\e604";
}
.icon-sprinter:before {
	content: "\e605";
}
.icon-train:before {
	content: "\e606";
}
.icon-check:before {
	content: "\e612";
}
.icon-flag:before {
	content: "\e613";
}
.icon-bus:before {
	content: "\e614";
}
.icon-location:before {
	content: "\e615";
}
.icon-clock:before {
	content: "\e611";
}
.icon-time:before {
	content: "\e60b";
}
.icon-sun:before {
	content: "\e607";
}
.icon-arrow-right:before {
	content: "\e616";
}
.icon-arrow-left:before {
	content: "\e617";
}

/* custom css */
.green{
	color: #2ebda2;
}
.white{
	color: #fff;
}

.bg-green{
    background-color:  #2ebda2;
    color: #fff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px; 
 }
[class*="icon-"].bg{
	background-color:  #fff;
    color: #2ebda2;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px; 
}
