@charset "utf-8";

.ui-content, .ui-header h1{
    text-align: center;
    color: #fff;
    font-family: 'Verdana', sans-serif;
}

.ui-header {
    background: #fff;
    margin-top: 10px;
    width: 100%;
    height: 20px
    display: block;
}

.ui-header h1 {
    text-transform: uppercase;
    font-size: 2rem !important;
    font-size: 20px !important;
    width: auto;
    font-weight: normal;
    padding: 0;
}

.ui-content, label {
    font-size: 1.6rem !important;
    font-size: 16px !important;  
    font-weight: normal;
}

#welcome, #welcome h1 {
    background: #8c9fa0;
}

#pref-bike, #pref-bike h1 {
    background: #27bb9f;   
}

#pref-car, #pref-car h1 {
    background: #f4a145;   
}

#pref-public-transport, #pref-public-transport h1 {
    background: #3298d4;   
}

#pref-walking, #pref-walking h1 {
    background: #eec13f;   
}

#pref-bike-rain, #pref-bike-rain h1 {
    background: #30b671;   
}

#pref-bike-duration, #pref-bike-duration h1 {
    background: #d35e2a;   
}

#pref-walking-duration, #pref-walking-duration h1 {
    background: #8b61aa;   
}

#pref-reminder-duration, #pref-reminder-duration h1 {
    background: #31495c;   
}

.pref-icon {
    width: 80%;
    padding: 40px 0;
}

