@charset "utf-8";
html, body{
    color: #2ebda2; 
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
a{
    color: #2ebda2;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
}
ul{
    list-style: none;
    clear: both;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
}
.ui-content, .ui-header h1{
    text-align: center;
    color: #fff;
}

.ui-header {
    background: #fff;
    margin-top: 14px;
    width: 100%;
    height: 20px;
    display: block;
}

.ui-header h1 {
    text-transform: uppercase;
    font-size: 2rem !important;
    font-size: 20px !important;
    width: auto;
    font-weight: normal;
    padding: 0;
}
.preferences-menu{
    float: right;
    padding-right: 11px;
}    
.preferences-icon {
    display: block;
}

.ui-content, label {
    font-size: 1.6rem !important;
    font-size: 16px !important;  
    font-weight: normal;
}

.pref .ui-footer {
    display: none;   
}

.ui-footer {
    background: #eef0ef;
    position:fixed;
    bottom: 0px;
    height: 86px;
    width: 100%;
    display: block;
    border: 0;
}

.footer-icon1 {
    width: 50%;
    float: left;
    border-right: 1px solid #27bb9f;
}

.footer-icon2 {
    width: 48%;
    float: left;
}

.f-icon {
    width: 30%;  
    padding: 20px;
    margin: 0 auto;
    display: block;
}

#welcome, #welcome h1 {
    background: #8c9fa0;
}

#pref-bike, #pref-bike h1, .bike {
    background: #27bb9f;   
}

#pref-car, #pref-car h1, .car {
    background: #f4a145;   
}

#pref-public-transport, #pref-public-transport h1, .public-transport {
    background: #3298d4;   
}

#pref-walking, #pref-walking h1, .walking {
    background: #eec13f;   
}

#pref-bike-rain, #pref-bike-rain h1, .bike-rain {
    background: #30b671;   
}

#pref-bike-duration, #pref-bike-duration h1, .bike-duration {
    background: #d35e2a;   
}

#pref-walking-duration, #pref-walking-duration h1, .walking-duration {
    background: #8b61aa;   
}

#pref-reminder-duration, #pref-reminder-duration h1, .reminder-duration {
    background: #31495c;   
}

.pref-icon {
    width: 80%;
    padding: 40px 0;
}

.next, .next:hover {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

/*Preferences screen*/

.back, .back:hover {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    background: #eef0ef;
    color: #fff;
    text-decoration: none;
}

.preferences-bar {
    border-top: 1px solid #eef0ef;
    height: 80px;
    display: block;
    padding: 10px 0;
}

.preferences-icons {
    width: 18%; 
    float: left;
    padding: 1%;
}

.preferences-icons img {
    width: 100%;   
}

.preferences-content {
    width: 78%;
    float: right;
    color: #000;
}

#main-travel{
    margin-top: 14px;
    color: #2ebda2;
    font-size: 12px;

}
.main-header{
    clear: both;
    width: 100%;
    display: inline-block;
}
.placeholder{
    background-color: #2ebda2;
    display: inline-block;
    height: 27px;
    width: 13px;
    float: left;
}
.appointment-title{
    padding-left: 5px;
    float: left;
}
.appointment-title span{
    display: block;
}
.appointment-title span + span{
    font-style: italic;
    font-size: 13px;
}
.travel-nav {
    height: 100%;
}
.travel-nav li{
    width: 33%;
    height: 100%;
}
.travel-nav li a{
    font-size: 41px;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 13px;
}
.travel-nav li em{
    font-size: 14px;
    font-style: normal;
    display: block;
    font-family: 'Helvetica', sans-serif;
    font-size: 11px;
}

.active{
    background-color: #2ebda2;
}

.active [class^="icon-"], [class*=" icon-"] {
    color: #fff;
}

.travel-options{
    padding: 58px 0 0 0;
}

.travel-options, .travel-options h1{
    text-align: center;
    color:  #2ebda2;
}
.travel-options span{
    display: block;
    font-size: 12px;
}
.travel-options .countdown{
    font-size: 18px;
    padding-top: 15px;
}
.travel-options .list-container{
    padding-top: 45px;
}
.red{
    color: #ec5c52;
}
.travel-options ul{
    
}
.travel-options li{
    width: 130px;
}
.travel-options li span{
  font-size: 68px;  
}
.travel-options li.roundabout-in-focus span{
    font-size: 123px;
    transition: font-size 0.2s;
}