@charset "utf-8";
html, body{
    color: transparent; 
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #fff;
}
a{
    color: #2ebda2;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
}
ul{
    list-style: none;
    clear: both;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
}
.red{
    color: #ec5c52;
}
.grey{
    color: #c4c6c6;
}
.bg-grey{
    background-color: #edefee;
}

.ui-content, .ui-header h1{
    text-align: center;
    color: #fff;
}

.ui-header {
    background: #fff;
    margin-top: 14px;
    width: 100%;
    height: 20px;
    display: block;
}

.ui-header h1 {
    text-transform: uppercase;
    font-size: 2rem !important;
    font-size: 20px !important;
    width: auto;
    font-weight: normal;
    padding: 0;
}
.preferences-menu{
    float: right;
    padding-right: 11px;
}    
.preferences-icon {
    display: block;
}

.ui-content, label {
    font-size: 1.6rem !important;
    font-size: 16px !important;  
    font-weight: normal;
}

.ui-footer {
    background: #eef0ef;
    position:fixed;
    bottom: 0px;
    height: 86px;
    width: 100%;
    display: block;
    border: 0;
}

.footer-icon1 {
    width: 50%;
    float: left;
    border-right: 1px solid #27bb9f;
}

.footer-icon2 {
    width: 48%;
    float: left;
}

.f-icon {
    width: 30%;  
    padding: 20px;
    margin: 0 auto;
    display: block;
}

div.ui-slider-switch {
    background: #fff;
    color: #000;
    border: 1px solid #000;   
}

.ui-slider-switch .ui-slider-label-a {
    background: #30b671;  
    color: #fff;
    text-indent: 0;
}

.ui-slider-switch .ui-slider-label-b {
    background: #e54e43;  
    color: #fff;
    text-indent: 0;
}

.slide-bar .ui-slider-handle {
    border: 1px solid #000;
    background: #fff;
}

/*Preference begin screens*/

#welcome .ui-header,
#pref-bike .ui-header,
#pref-car .ui-header,
#pref-public-transport .ui-header,
#pref-walking .ui-header,
#pref-bike-rain .ui-header,
#pref-bike-duration .ui-header,
#pref-walking-duration .ui-header,
#pref-reminder-duration .ui-header{
    height: 50px !important;
}

#welcome a,
#pref-bike a,
#pref-car a,
#pref-public-transport a,
#pref-walking a,
#pref-bike-rain a,
#pref-bike-duration a,
#pref-walking-duration a,
#pref-reminder-duration a {
    color: #fff;   
}

#welcome, #welcome h1 {
    background: #8c9fa0;
}

#pref-bike, #pref-bike h1, .bike {
    background: #27bb9f;   
}

#pref-car, #pref-car h1, .car {
    background: #f4a145;   
}

#pref-public-transport, #pref-public-transport h1, .public-transport {
    background: #3298d4;   
}

#pref-walking, #pref-walking h1, .walking {
    background: #eec13f;   
}

#pref-bike-rain, #pref-bike-rain h1, .bike-rain {
    background: #30b671;   
}

#pref-bike-duration, #pref-bike-duration h1, .bike-duration {
    background: #d35e2a;   
}

#pref-walking-duration, #pref-walking-duration h1, .walking-duration {
    background: #8b61aa;   
}

#pref-reminder-duration, #pref-reminder-duration h1, .reminder-duration {
    background: #31495c;   
}

.pref-icon {
    width: 80%;
    padding: 40px 0;
}

.next, .next:hover {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.pref-nav {
    margin: 2% 5%;
    position: fixed;
    bottom: 0;
}

.pref-nav img {
    width: 50%;   
}

.pref-nav li {
    width: 10%;
}

/*Preferences screen*/

#preferences .ui-content {
    padding: 0;   
}

.back, .back:hover {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    background: #eef0ef;
    color: #4e4e4e;
    text-decoration: none;
}

.preferences-bar {
    border-top: 1px solid #eef0ef;
    height: 80px;
    display: block;
    padding: 10px 0;
}

.preferences-icons {
    width: 70px; 
    float: left;
    padding: 1%;
}

.preferences-icons img {
    width: auto; 
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.preferences-content {
    width: 78%;
    float: right;
    color: #000;
}

/*Schedule*/

.appointments {
    padding-top: 0px !important;   
}

.appointment {
    text-align: left;
    font-size: 12px !important;
}

#schedule h3 {
    padding: 0 20px;   
}

#schedule {
    margin-top: 14px;   
}

.load-appointments {
    border-top: 1px solid #2ebda2;  
    text-align: left;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

h3 .h-normal {
    font-weight: normal;
    font-size: 12px !important;
}

.appointment-icon {
    display: block;
    float: right;
    width: 15%;
    margin-top: -15px;
}

.pijl {
    float: right;
    padding-right: 15px;
    font-size: 16px !important;
}

#schedule .schedule-icons{
    width: 30%;
    margin: 0;
    text-align: center;
    float: left;
}

#schedule .schedule-icons span.schedule-icon{
    font-size: 40px;
}

.schedule-title{
    padding-bottom: 10px;
    padding-left: 5px;
    margin-bottom: 10px;
    float: left;
    color: #2ebda2;
}

.schedule-title .title {
    font-weight: bold;
}

.schedule-title span {
    display: block;
}

.appointment-dialog .ui-dialog-contain {
    background: #2ebda2;
    color: #fff;
    text-align: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.appointment-dialog h3 {
    text-align: left;
    font-size: 14px !important;
}  

.appointment-dialog .h-normal {
    font-size: 14px !important;   
}

.appointment-transport-icon {
    width: 40%; 
    float: left;
    padding: 10px;
}

.appointment-dialog .ui-block-b span {
    font-size: 35px;   
}

.appointment-dialog-delete .ui-header {
    height: auto !important;
    background: #2ebda2;
}

.appointment-dialog-delete .ui-header .ui-title {
    margin: 0 !important;
    text-transform: none;
    font-size: 16px !important;
}

.appointment-dialog-delete .ui-content a {
    display: block;
    width: 44%;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    float: left;
}

.close-dialog {
    display: block;
    width: 97%;
    padding: 0;
    font-size: 30px;
}

.close-dialog-icon {
    float: right;
    margin-top: 0px;
    margin-right: 0px;  
    font-size: 25px;
}

.appointment-dialog .ui-block-b span {
    float: right;
    padding: 5px;
}

.appointment-dialog .ui-block-a {
    width: 80% !important;   
}

.appointment-dialog .ui-block-b {
    width: 20%;   
}

/*Main screen*/

/*.ui-page{
    margin-top: 14px;
} If needed please make this page-specific*/
#main-travel{
    color: #2ebda2;
    font-size: 12px;

}
.main-header{
    clear: both;
    width: 100%;
    display: inline-block;
}
.placeholder{
    background-color: #2ebda2;
    display: inline-block;
    height: 27px;
    width: 13px;
    float: left;
}
.appointment-title, .appointment-countdown{
    padding-left: 5px;
}
.appointment-title span, .appointment-countdown span{
    display: block;
}
.appointment-title span + span{
    font-style: italic;
    font-size: 13px;
}
.ui-navbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #eef0ef;
    height: 15%;
}
.ui-navbar .travel-nav {
    height: 100%;
}
.ui-navbar .travel-nav li{
    width: 33%;
    height: 100%;
}
.ui-navbar .travel-nav li a{
    font-size: 41px;
    height: 84%;
    width: 100%;
    display: block;
    text-align: center;
    padding: 13px 0 0 0;
    margin: 0;
}
.ui-navbar .travel-nav li em{
    font-size: 14px;
    font-style: normal;
    display: block;
    font-family: 'Helvetica', sans-serif;
    font-size: 11px;
}

/*.ui-btn-active,*/ .active {
    background-color: #2ebda2;
}

/*.ui-btn-active [class^="icon-"],*/ .active {
    color: #fff;
}

.travel-options{
    padding: 58px 23px 0 23px;
    text-align: center;
}

.travel-options, .travel-options h1{
    text-align: center;
    color:  #2ebda2;
}
.appointment-countdown span{
    display: block;
    font-size: 12px;
}
.appointment-countdown .countdown{
    font-size: 18px;
    padding-top: 10px;
}
.travel-options .list-container{
    padding-top: 45px;
}
.list-container{
    position: relative;
}

.travel-options li{
    width: 130px;
}
.travel-options li span.option{
  font-size: 68px;  
}
.travel-options li.roundabout-in-focus span.option{
    font-size: 123px;
    transition: font-size 0.2s;
}
.roundabout-holder {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 20em;
}
.conditions {
    padding-top: 10px;
}
.roundabout-holder .conditions{
    display: none;
    padding-top: 23px;
}
.conditions span{
    font-size: 25px;
    display: inline;
}
.travel-options li.roundabout-in-focus .conditions{
    display: block;
}
.travel-options .nav-prev, .travel-options .nav-next{
    color: #2ebda2;
    position: absolute;
    top: 82px;
}
.travel-options .nav-prev span, .travel-options .nav-next span{
    font-size: 20px;
}
.travel-options .nav-prev{
    left: 2px;
}
.travel-options .nav-next{
    right: 2px;
}

.ui-page.details .travel-option-details{
    width: 30%;
    margin: 0;
    text-align: center;
    float: left;
}

.travel-option-details .option{
    font-size: 62px;
}
.details .appointment-title{
    padding-bottom: 10px;
    border-bottom: 1px solid #2ebda2;
    margin-bottom: 10px;
    float: left;
}
.details .appointment-countdown{
    float: left;
}
.appointment-countdown .countdown{
    padding-top: 10px;
}
.travel-options .ui-collapsible-set{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.travel-options .ui-collapsible-set .ui-collapsible-heading{
    -webkit-border-radius: 10px 10px 0 0 ;
    -moz-border-radius: 10px 10px 0 0 ;
    border-radius: 10px 10px 0 0 ; 
}
.travel-options .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content{
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;    
    border: 0;
}
.travel-options .ui-icon-minus, .travel-options .ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content{
    background-color: #2ebda2;
    color: #fff;
}
.travel-options .ui-collapsible-heading-toggle{
    padding: 12px 18px;
    font-size: 12px;
}
.travel-options .ui-collapsible-heading-toggle span {
    font-size: 25px;
}
.travel-options .ui-collapsible-heading-toggle span.bg {
    background-color:  #2ebda2;
    color: #fff;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px; 
}
.travel-options .ui-icon-minus span.bg{
    background-color:  #eef0ef;
    color: #2ebda2;
}
